@import "tailwindcss";

* {
  font-family: Anton;
  /* color: white; */
}

.chibs {
  color: #ff8c00;
}

body {
  background-color: #010101;
}

@theme {
  --grid-template-columns-auto: repeat(auto-fit, minmax(300px, 1fr));
}

html {
  scroll-padding-top: 80px; /* or whatever height your navbar is */
}
